[submodule ".vim/pack/andy/start/vim-airline"]
	path = .vim/pack/andy/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/andy/start/vim-code-dark"]
	path = .vim/pack/andy/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
